<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.sdp.summit.v1"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
  <name>SdP Summit 2019 - Palestras</name>
  <description>
      Lista de palestras do SdP Summit 2019.
  </description>
  <author href="http://base.pro.br" email="jricardo.basilio@gmail.com">
      Ricardo Basilio
  </author>

  <splash src="splash.png" />
  <icon src="icon.png" />

  <config-file platform="android" parent="/manifest">
    <uses-sdk tools:overrideLibrary="org.apache.cordova,com.library.plugin" />
  </config-file>
</widget>
