<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.saidopapel.Summit"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->
  <name>SdP Summit 2019 - Palestras</name>
  <description>
      Lista de palestras do SdP Summit 2019.
  </description>
  <author href="http://base.pro.br" email="jricardo.basilio@gmail.com">
      Ricardo Basilio
  </author>
  <icon src="icon.png" />
  <splash src="splash.png" />

</widget>
